@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: linear-gradient(to right, #7b1fa2, #0d47a1); */
  background: linear-gradient(to right, #242424, #181818);
  /* background: #181818; */
  font-family: montserrat, monospace;
}
.footer {
  bottom: 0;
}
#navb {
  /* background: #181818; */
  background: linear-gradient(to right, #1c1c1c, #181818);
  /* border-bottom: 0.5px solid white; */
}
#navb_icon {
  transition: all 0.3s ease-in-out;
}

#navb_icon:hover {
  /* border-bottom: 0.5px solid white; */
  color: rgb(0, 106, 255);
}
h1,
h2 {
  font-family: "Dancing Script", cursive;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
.blogs {
  background: linear-gradient(to right, rgb(255, 0, 251), rgb(4, 126, 220));
}
a {
  text-decoration: none;
}
.scrollbar-hide::-webkit-scrollbar {
  width: 0;
}

/* .glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
 */
#hero__right {
  background: linear-gradient(to bottom, #0073ff, #021a3e);
}

.btn {
  width: 10rem;
  height: 2rem;
  padding: 5px;
  margin: 0.5em;
  background: #1d69dd;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: black;
}

button:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card{
  padding:10px;
 border-radius: 20px;
 transition: all .3s ease-in-out;
}

.card:hover {
  padding:5px;
  box-shadow: 0px 0px 30px 1px rgba(20, 65, 118, 0.3);
  transform: scale(0.98);
  border-radius: 20px;
}
