@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: linear-gradient(to right, #7b1fa2, #0d47a1); */
  /* background: linear-gradient(to right, #242424, #181818); */
  background: #100f0f;
  font-family: montserrat, monospace;
}
.footer {
  bottom: 0;
}
#navb {
  /* background: #181818; */
  background: linear-gradient(to right, #1c1c1c, #181818);
  border: 0.5px solid rgb(79, 78, 78);
}
#navb-down {
  border-bottom: 0.5px solid rgb(79, 78, 78);
  /* background: linear-gradient(to right, #1c1c1c, #181818); */
  background: rgba(30, 30, 30, 0.95);

  /* background: linear-gradient(to right, #2b2b2b, #3e3e3e); */
  /* border-bottom: 0.5px solid #0073ff; */
}
#navb_icon {
  transition: all 0.3s ease-in-out;
}

#navb_icon:hover {
  /* border-bottom: 0.5px solid white; */
  /* color: rgb(0, 106, 255); */
}
h1,
h2 {
  /* font-family: 'Rubik', sans-serif; */
  font-family: "Quicksand", sans-serif;
}
html::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

.blogs {
  background: linear-gradient(
    to right,
    rgb(3, 6, 87),
    rgb(3, 61, 149),
    rgb(3, 117, 199),
    rgb(2, 145, 192)
  );
}
a {
  text-decoration: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* .glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
 */
#hero__right {
  background: linear-gradient(to bottom, #0073ff, #021a3e);
}
.bottom {
  border: 1px dotted #393939;
  border-width: 3px;
}

.btn {
  width: 10rem;
  height: 2rem;
  padding: 5px;
  margin: 0.5em;
  background: #1d69dd;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.nav__btn {
  /* width: 10rem; */
  /* height: 2.5rem; */
  padding: 10px;
  /* margin: 0.5em; */
  background: #191919;
  color: white;
  border: 0.5px solid rgb(132, 132, 132);
  border-radius: 5rem;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.nav__btn:hover {
  background: #444141;
}

.btn:hover {
  color: black;
}

.btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card {
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  padding: 5px;
  box-shadow: 0px 0px 30px 1px rgba(20, 69, 125, 0.6);
  transform: scale(0.98);
  border-radius: 20px;
}

.think {
  animation: thinking 3s reverse infinite;
}

@keyframes thinking {
  from {
    color: white;
  }
  to {
    color: rgb(40, 96, 142);
  }
}

.bulb {
  color: #ffee10;
  border-radius: 50%;
  margin-left: 15px;
  animation: glow-bulb 2s linear infinite;
}
@keyframes glow-bulb {
  from {
    box-shadow: 0 0 15px #ffee10;
  }
  to {
    box-shadow: 0 0 5px #ffee10;
  }
}

.profile_img {
  animation: writing 5s linear infinite;
}

@keyframes writing {
  0% {
    box-shadow: 0 0 5px #ffee10;
    transform: scale(1);
  }
  25% {
    box-shadow: 0 0 5px purple;
    transform: scale(0.95);
  }

  50% {
    box-shadow: 0 0 5px #ffee10;
    transform: scale(1);
  }
  75% {
    box-shadow: 0 0 5px purple;
    transform: scale(0.95);
  }

  100% {
    box-shadow: 0 0 5px #ffee10;
    transform: scale(1);
  }
}
